#header {
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .fa-chevron-down,
  .fa-chevron-up {
    @include awesomeMarg;
  }


  .left-menu {
    display: flex;
    .logo {
      font-size: 2rem;
      display: flex;
      cursor: pointer;
      @include centerIt;
    }
    .city-dropdown {
      display: flex;
      @include centerIt;
      @include paddingFor;
      position: relative;
      .scroll-area {
        position: absolute;
        background: rgba(0,0,0,.3);
        top: 35px;
        left: 0;
        min-width: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
        &.active {
          visibility: visible;
          opacity: 1;
          top: 50px;

        }
        ul {
          li {
            padding: 15px;
            cursor: pointer;
            &:hover {
              background: rgba(0,0,0,.2);
            }
          }
        }
      }
    }
  }
  .right-menu {
    display: flex;
    .user-image {
      display: flex;
      @include centerIt;
    }
    .user-dropdown {
      display: flex;
      @include centerIt;
      @include paddingFor;
    }
    .post-btn {
      background: rgb(119, 196, 255);
      font-weight: 300;
      text-transform: capitalize;
      color: #fff;
      cursor: pointer;
      @include paddingFor;
    }
  }
}
