@import "mixins/mixins";
@import "mixins/grid12";
@import "mixins/variables";
@import "reset";
@import "header";
@import "home";
@import "listings";
@import "details";

* {
  box-sizing: border-box;
}

body {
  color: #111;
  position: relative;
  font-family: "Open Sans";
  background-image:  linear-gradient(to right, rgba(96,66,179,.8) 0%, rgba(209,30,152,.8) 100%),
  url('https://i.ytimg.com/vi/QTZQ9bta31w/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

// Gobal styles
a{
  text-decoration: none;
}

.myContainer {
  max-width: 1300px;
  margin: 0 auto;
}
